
@import "vendor/bourbon/bourbon";
@import 'base/grid-settings';
@import "vendor/neat/neat";


//some styles are set inline, like the colour 

body {
.site {
	position:relative;
	.feature-image-for-page {
		display: none;

	}
	.page-content a {
		text-decoration:underline;
	}
}
.subsite-header {
	display:block;
	padding-top: 2em;
	background-color: #FFFFFF;
	.attachment-thumbnail {
	    @include shift(1);
        }
}
.post-title {
	    border: none;
    }
#sub-nav {
	@include span-columns(10 of 12);
	@include shift(1);
	border-bottom:4px solid black;
	padding-bottom:1em;
	margin-bottom:2em;
	a {
		text-decoration:none;
	}
	li {
		//margin: 1em 0;
		margin-right:1em;
		display:inline;
		list-style-type: none;
	}
		li {
			background-image:none;
			padding-left: 0;
		}

}
}
#sub-nav li.menu-item-has-children:hover ul.sub-menu {
	display: block;
}

.page-logo, .subsite-header img {
	margin-bottom: 1em;
	@include shift(1);
}
//bg for parent
	.site .subsite-parent-bg {
	left: 0;
	top: 0;
	z-index:-1;
        //min-height: 100%;
	    	
	      /* Set up proportionate scaling */
	width: 100%;
	height: auto;
	display:block;
	position:absolute;
	}
	section.subsite-text.page-content.primary { 
		@include media($large){
	       		 @include span-columns(6 of 10);	
		}
		background:black;
		padding:1em;
		p, .post-meta, a, .breadcrumb {
			color:white!important;
		}
		.post-title {
			display:none;
		}
		h1,h2,h3,h4,h5,h6,.post-content, cite {
			color:white;
		}
		.comments {
			color: black;
		}
		
	}
